<a href="https://colab.research.google.com/github/AndreasPetrou/AndreasPetrou.github.io/blob/main/Data_distance_scrapper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import requests, json, pandas as pd, numpy as np

In [4]:
tables=pd.read_html('https://www.distancefromto.net/distance-from-germany-country')

In [6]:
df=tables[0]

In [7]:
df

                                           Country  Distance      Mileage
0                 Distance from Andorra to Germany  1,177 km    731 miles
1    Distance from United Arab Emirates to Germany  4,815 km  2,992 miles
2             Distance from Afghanistan to Germany  4,921 km  3,058 miles
3     Distance from Antigua and Barbuda to Germany  7,307 km  4,540 miles
4                Distance from Anguilla to Germany  7,298 km  4,535 miles
..                                             ...       ...          ...
245                Distance from Germany to Panama  9,355 km  5,813 miles
246               Distance from Germany to Reunion  9,162 km  5,693 miles
247          Distance from Germany to Saint Helena  7,629 km  4,740 miles
248            Distance from Germany to San Marino    817 km    508 miles
249                Distance from Germany to Taiwan  9,293 km  5,774 miles

[250 rows x 3 columns]

In [10]:
df['Country']=df['Country'].str.replace('Distance from ','')

In [11]:
df

                             Country  Distance      Mileage
0                 Andorra to Germany  1,177 km    731 miles
1    United Arab Emirates to Germany  4,815 km  2,992 miles
2             Afghanistan to Germany  4,921 km  3,058 miles
3     Antigua and Barbuda to Germany  7,307 km  4,540 miles
4                Anguilla to Germany  7,298 km  4,535 miles
..                               ...       ...          ...
245                Germany to Panama  9,355 km  5,813 miles
246               Germany to Reunion  9,162 km  5,693 miles
247          Germany to Saint Helena  7,629 km  4,740 miles
248            Germany to San Marino    817 km    508 miles
249                Germany to Taiwan  9,293 km  5,774 miles

[250 rows x 3 columns]

In [12]:
df['Country']=df['Country'].str.replace('to Germany','')

In [13]:
df

                     Country  Distance      Mileage
0                   Andorra   1,177 km    731 miles
1      United Arab Emirates   4,815 km  2,992 miles
2               Afghanistan   4,921 km  3,058 miles
3       Antigua and Barbuda   7,307 km  4,540 miles
4                  Anguilla   7,298 km  4,535 miles
..                       ...       ...          ...
245        Germany to Panama  9,355 km  5,813 miles
246       Germany to Reunion  9,162 km  5,693 miles
247  Germany to Saint Helena  7,629 km  4,740 miles
248    Germany to San Marino    817 km    508 miles
249        Germany to Taiwan  9,293 km  5,774 miles

[250 rows x 3 columns]

In [61]:
df['Country']=df['Country'].str.replace('Germany to ','')

In [15]:
df

                   Country  Distance      Mileage
0                 Andorra   1,177 km    731 miles
1    United Arab Emirates   4,815 km  2,992 miles
2             Afghanistan   4,921 km  3,058 miles
3     Antigua and Barbuda   7,307 km  4,540 miles
4                Anguilla   7,298 km  4,535 miles
..                     ...       ...          ...
245                 Panama  9,355 km  5,813 miles
246                Reunion  9,162 km  5,693 miles
247           Saint Helena  7,629 km  4,740 miles
248             San Marino    817 km    508 miles
249                 Taiwan  9,293 km  5,774 miles

[250 rows x 3 columns]

In [ ]:
df['Distance']=df['Distance'].str.replace(' km','')

In [37]:
df['Distance']=df['Distance'].str.replace(',','')

In [57]:
df=df.drop(columns='Mileage')

In [47]:
type('Distance')

str

In [ ]:
df["Distance"] = df["Distance"].str.replace(',','').astype(float)

In [ ]:
type('Distance')

In [64]:
df.to_csv('distance.csv')